.inputHolder {
  position: relative;
  width: 268px;
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.inputHolder .bottom {
  display: inline-block;
  height: 2px;
  width: 100%;
  background-color: var(--blue);
  position: absolute;
  bottom: 0.01rem;
  left: 0;
  transition: 0.4s ease-out;
  transform-origin: left;
  transform: scaleX(0);
}

.inputHolder .input {
  outline: none;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Roboto Slab", serif;
  color: var(--blue);
  width: 100%;
  padding: 0.5rem;
  font-size: 0.89rem;
  font-weight: 500;
  transition: 0.4s ease-out;
}

.inputHolder .input::placeholder {
  font-family: "Roboto Slab", serif;
  color: var(--black);
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.11rem;
  transition: 0.2s ease-out;
}

.input:focus::placeholder,
.input:valid::placeholder {
  visibility: hidden;
}
.input:focus ~ .bottom {
  transform: scaleX(1);
}

textarea {
  resize: none;
}

.fileInputHolder {
  width: 268px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1rem;
  color: var(--black);
}

.labelDesign {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted white;
  background-color: transparent;
  font-family: "Roboto Slab", serif;
  font-size: 0.68rem;
  font-weight: 300;
  padding: 0.5rem 0;
  cursor: pointer;
  transition: 0.4s ease-out;
  color: var(--black);
}

.editIcon {
  transform: scale(0.75);
  color: var(--blue);
}

.profilePicHolder {
  border: 2px solid var(--blue);
  margin: 0 auto;
  margin-bottom: 0.4rem;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 50%;
}

.profilePicHolder .image {
  height: 4.4rem;
  width: 4.4rem;
  object-fit: cover;
  object-position: center;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
}

.profilePicHolder label {
  color: var(--blue);
  position: absolute;
  bottom: 0.1rem;
  right: -0.5rem;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 363px) {
  .inputHolder,
  .fileInputHolder {
    width: 210px;
  }
  .inputHolder .input {
    font-size: 0.6rem;
  }
  .inputHolder .input::placeholder {
    font-size: 0.6rem;
  }
}
