.navbar {
  height: 40px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  margin-bottom: 1rem;
  background: var(--theme);
  z-index: 100;
}

.logoContainer > h1 {
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: "Lobster", cursive;
  font-size: 2rem;
  color: var(--blue);
  cursor: pointer;
}

.logoContainer > h1 span{
  padding: 0.12rem;
}

.logoContainer .logoIcon {
  transform: scale(1.15);
  transition: 0.5s ease-in-out;
  padding: 0.1rem;
  color: var(--blue);
}

.logoContainer > h1:hover .logoIcon {
  transform: translateY(-6px);
}

.linkContainer {
  width: 660px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkContainer .link {
  position: relative;
  text-decoration: none;
  font-family: "Merienda", cursive;
  color: var(--blue);
  font-weight: bold;
  transition: 0.4s ease-out;
}

.linkContainer .link::before{
  position: absolute;
  bottom: -0.25rem;
  content: '';
  height: 2px;
  width: 100%;
  background-color: var(--blue);
  border-radius: 0.2rem;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s ease-out;
}

.linkContainer .link:hover::before {
  color: var(--blue);
  transform-origin: left;
  transform: scaleX(1);
}

.linkContainer .link.active{
  position: relative;
}

.linkContainer .link.active::after{
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  content: '';
  height: 2px;
  width: 100%;
  background-color: var(--blue);
  border-radius: 0.2rem;
}

.sun,
.moon {
  cursor: pointer;
  color: var(--themepicker);
}

.burgerMenu {
  display: none;
}

@media screen and (max-width: 960px) {
  .linkContainer {
    display: none;
  }

  .burgerMenu {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .MuiButtonBase-root.MuiButton-root {
    padding: 0 !important;
    margin: 0 !important;
  }

  .menuIcon {
    color: var(--blue);
    font-weight: 600;
    transition: 0.3s ease-out;
  }

  .closeMenu {
    position: absolute;
    top: 0.4rem;
    left: 1rem;
    font-size: 0.2rem;
    color: var(--blue);
    cursor: pointer;
    transition: 0.5s ease-out;
  }

  .closeMenu:hover {
    color: var(--pink);
    transform: scale(0.8);
  }

  .menuList {
    padding-top: 4rem;
    height: 100dvh;
    width: 50dvw;
    background: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    transition: 0.3s ease-out;
  }

  .drawerlink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.8rem;
    text-decoration: none;
    color: var(--blue);
    font-weight: 600;
    font-size: 0.93rem;
    padding: 0.9rem 1rem;
    transition: 0.3s ease-out;
  }

  .drawerlink:hover {
    letter-spacing: 0.4rem;
    color: white;
  }

  .drawerlink.active {
    padding: 0.4rem 1rem;
    letter-spacing: 0.5rem;
    color: white;
    pointer-events: none;
  }

  .themeSwitch {
    position: absolute;
    top: 0.5rem;
    right: 1.8rem;
  }
}

@media screen and (max-width: 496px) {
  .menuList {
    width: 65dvw;
  }
  .logoContainer > h1 {
    font-size: 1.6rem;
  }
  .navbar {
    padding: 1rem 0.5rem;
  }
}
@media screen and (max-width: 363px) {
  .menuList {
    width: 86dvw;
  }
  .logoContainer > h1 {
    font-size: 1.2rem;
  }
  .logoContainer .logoIcon {
    transform: scale(0.9);
  }
  .navbar {
    padding: 1rem 0 1rem 0.4rem;
  }
}
